{% extends 'base.html' %}

{% block content %}
<!-- Page Header Section Start Here -->
<section class="page-header bg_img padding-tb">
    <div class="overlay"></div>
    <div class="container">
        <div class="page-header-content-area">
            <h4 class="ph-title">About Us</h4>
            <ul class="lab-ul">
                <li><a href="{{ url_for('main.home') }}">Home</a></li>
                <li><a class="active">About Us</a></li>
            </ul>
        </div>
    </div>
</section>
<!-- Page Header Section Ending Here -->

<section class="about-section padding-tb padding-b shape-img">
    <div class="container col-xxl-8 px-4 py-5">
        
        <div class="col-lg-12">
            <div class="section-header text-center">
                <h2>Urjotsav 2k22</h2>
                <p>About Urjotsav 2k22</p>
            </div>
            <div class="section-wrapper text-center">
                <p style="font-weight: bold;">Urjotsav is for technical as well as cultural fest. In fact, the
                    college atmosphere takes a festive mood on that occasion. Most of the students take part in
                    the College Fest. They enjoy it very much. Often students of other colleges are invited to
                    take an active part in the festival it build team mangament in students
                    Urjotsav - as its name suggests something that is invigorating makes you feel refreshed and
                    more energetic.
                    We @ PIEMR celebrate this festival of amusement and enthusiasm every year as our annual
                    fest. It's a 6 days event where everyone gets restored with power and gets fulfilled with
                    new strength to continue our studies with high stamina.
                </p>


            </div>
        </div>
    </div>
    </div>

</section>
<section class="speakers-section padding-tb padding-b shape-img">
    <div class="container">
        <div class="section-header">
            <h2>Patrons</h2>
        </div>
        <div class="section-wrapper">
            <div class="row g-4 justify-content-center">
                <div class="col-xl-12 col-lg-8 col-12">
                    <div class="speaker-item">
                        <div class="speaker-inner">
                            <div class="speaker-thumb">
                                <img src="{{ url_for('static', filename='assets/images/speakers/patron/chairman.png') }}" alt="speaker">
                            </div>
                            <div class="speaker-content">
                                <div class="spkr-content-title d-flex flex-wrap justify-content-between">
                                    <div class="speaker-infos">
                                        <h5><a href="speaker-details.html">Padma Shri Awardee
                                            Dr. Nemnathji Jain
                                            </a> </h5>
                                        <p>Founder Chairman</p>
                                    </div>

                                </div>
                                <div class="spkr-content-details">

                                    <ul class="social-icons">
                                        <li><a href="#"
                                                target="_blank"><i class="icofont-facebook"></i></a></li>
                                        <li><a href="#"><i
                                                    class="icofont-twitter"></i></a></li>
                                        <li><a href="#"><i
                                                    class="icofont-instagram"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-8 col-12">
                    <div class="speaker-item">
                        <div class="speaker-inner">
                            <div class="speaker-thumb">
                                <img src="{{ url_for('static', filename='assets/images/speakers/patron/dr-davish-jain.png') }}" alt="speaker">
                            </div>
                            <div class="speaker-content">
                                <div class="spkr-content-title d-flex flex-wrap justify-content-between">
                                    <div class="speaker-infos">
                                        <h5><a href="speaker-details.html">Dr. Davish Jain </a> </h5>
                                        <p>Chairman, PEF</p>
                                    </div>
                                </div>
                                <div class="spkr-content-details">
                                    <!-- <p>Completey conceplua high quality
                                            nice markes rather than long term
                                            impact human capital</p> -->
                                    <ul class="social-icons">
                                        <li><a href="#"><i class="icofont-facebook"></i></a></li>
                                        <li><a href="#"><i class="icofont-twitter"></i></a></li>
                                        <li><a href="#"><i class="icofont-instagram"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-8 col-12">
                    <div class="speaker-item">
                        <div class="speaker-inner">
                            <div class="speaker-thumb">
                                <img src="{{ url_for('static', filename='assets/images/speakers/patron/dipin-jain.png') }}" alt="speaker">
                            </div>
                            <div class="speaker-content">
                                <div class="spkr-content-title d-flex flex-wrap justify-content-between">
                                    <div class="speaker-infos">
                                        <h5><a href="speaker-details.html">Mr. Dipin Jain</a> </h5>
                                        <p>Vice Chairman, PEF</p>
                                    </div>

                                </div>
                                <div class="spkr-content-details">
                                    <!-- <p>Completey conceplua high quality
                                            nice markes rather than long term
                                            impact human capital</p> -->
                                    <ul class="social-icons">
                                        <li><a href="#"><i class="icofont-facebook"></i></a></li>
                                        <li><a href="#"><i class="icofont-twitter"></i></a></li>
                                        <li><a href="#"><i class="icofont-instagram"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-8 col-12">
                    <div class="speaker-item">
                        <div class="speaker-inner">
                            <div class="speaker-thumb">
                                <img src="{{ url_for('static', filename='assets/images/speakers/patron/ketan-jain-300x291-modified.png') }}" alt="speaker">
                            </div>
                            <div class="speaker-content">
                                <div class="spkr-content-title d-flex flex-wrap justify-content-between">
                                    <div class="speaker-infos">
                                        <h5><a href="speaker-details.html">Er. Ketan Jain</a> </h5>
                                        <p>Director, PEF
                                        </p>
                                    </div>
                                </div>
                                <div class="spkr-content-details">
                                    <!-- <p>Completey conceplua high quality
                                            nice markes rather than long term
                                            impact human capital</p> -->
                                    <ul class="social-icons">
                                        <li><a href="#"><i class="icofont-facebook"></i></a></li>
                                        <li><a href="#"><i class="icofont-twitter"></i></a></li>
                                        <li><a href="#"><i class="icofont-instagram"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-8 col-12">
                    <div class="speaker-item">
                        <div class="speaker-inner">
                            <div class="speaker-thumb">
                                <img src="{{ url_for('static', filename='assets/images/speakers/patron/himanshu-jain-300x293-modified.png') }}" alt="speaker">
                            </div>
                            <div class="speaker-content">
                                <div class="spkr-content-title d-flex flex-wrap justify-content-between">
                                    <div class="speaker-infos">
                                        <h5><a href="speaker-details.html"> Mr. Himanshu Jain</a> </h5>
                                        <p>Director, PEF
                                        </p>
                                    </div>

                                </div>
                                <div class="spkr-content-details">
                                    <!-- <p>Completey conceplua high quality
                                            nice markes rather than long term
                                            impact human capital</p> -->
                                    <ul class="social-icons">
                                        <li><a href="#"><i class="icofont-facebook"></i></a></li>
                                        <li><a href="#"><i class="icofont-twitter"></i></a></li>
                                        <li><a href="#"><i class="icofont-instagram"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</section>


<section class="speakers-section padding-tb padding-b shape-img">
    <div class="container">
        <div class="section-header">
            <h2>Advisory Committee</h2>
        </div>
        <div class="section-wrapper">
            <div class="row g-4 justify-content-center">
                <div class="col-xl-12 col-lg-8 col-12">
                    <div class="speaker-item">
                        <div class="speaker-inner">
                            <div class="speaker-thumb">
                                <img src="{{ url_for('static', filename='assets/images/speakers/director.png') }}"
                                    alt="speaker">
                            </div>
                            <div class="speaker-content">
                                <div class="spkr-content-title d-flex flex-wrap justify-content-between">
                                    <div class="speaker-infos">
                                        <h5>Dr. Manojkumar Deshpande</h5>
                                        <p>Director, PIEMR</p>
                                    </div>

                                </div>
                                <div class="spkr-content-details">

                                    <ul class="social-icons">
                                        <li><a href="https://sites.google.com/piemr.edu.in/drmanojkumardeshpande/home"
                                                target="_blank"> <i class="icofont-facebook"></i></a></li>
                                        <li><a href="https://sites.google.com/piemr.edu.in/drmanojkumardeshpande/home"
                                                target="_blank"><i class="icofont-twitter"></i></a></li>
                                        <li><a href="https://sites.google.com/piemr.edu.in/drmanojkumardeshpande/home"
                                                target="_blank"><i class="icofont-instagram"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-8 col-12">
                    <div class="speaker-item">
                        <div class="speaker-inner">
                            <div class="speaker-thumb">
                                <img src="{{ url_for('static', filename='assets/images/speakers/archana.png') }}"
                                    alt="speaker">
                            </div>
                            <div class="speaker-content">
                                <div class="spkr-content-title d-flex flex-wrap justify-content-between">
                                    <div class="speaker-infos">
                                        <h5>Mrs. Archana Deshpande</h5>
                                        <p>Cultural Head</p>
                                    </div>
                                </div>
                                <div class="spkr-content-details">
                                    <!-- <p>Completey conceplua high quality
                                                nice markes rather than long term
                                                impact human capital</p> -->
                                    <ul class="social-icons">
                                        <li><a href="#" target="_blank"><i class="icofont-facebook"></i></a></li>
                                        <li><a href="#" target="_blank"><i class="icofont-twitter"></i></a></li>
                                        <li><a href="#" target="_blank"><i class="icofont-instagram"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-8 col-12">
                    <div class="speaker-item">
                        <div class="speaker-inner">
                            <div class="speaker-thumb">
                                <img src="{{ url_for('static', filename='assets/images/speakers/Hemalatha1.png') }}"
                                    alt="speaker">
                            </div>
                            <div class="speaker-content">
                                <div class="spkr-content-title d-flex flex-wrap justify-content-between">
                                    <div class="speaker-infos">
                                        <h5>Dr . Hemlatha Chadrashekhar </h5>
                                        <p>DEAN, Prestige PGDM</p>
                                    </div>

                                </div>
                                <div class="spkr-content-details">
                                    <!-- <p>Completey conceplua high quality
                                                nice markes rather than long term
                                                impact human capital</p> -->
                                    <ul class="social-icons">
                                        <li><a href="#" target="_blank"><i class="icofont-facebook"></i></a></li>
                                        <li><a href="#" target="_blank"><i class="icofont-twitter"></i></a></li>
                                        <li><a href="#" target="_blank"><i class="icofont-instagram"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</section>

<!-- Core Commitie -->
<section class="speakers-section padding-tb padding-b shape-img">
    <div class="container">
        <div class="section-header">
            <h2>Core Committee</h2>
        </div>
        <div class="section-wrapper">
            <div class="row g-4 justify-content-center">
                <div class="col-xl-6 col-lg-8 col-12">
                    <div class="speaker-item">
                        <div class="speaker-inner">
                            <div class="speaker-thumb">
                                <img src="{{ url_for('static', filename='assets/images/speakers/Piyush.jpg') }}"
                                    alt="speaker">
                            </div>
                            <div class="speaker-content">
                                <div class="spkr-content-title d-flex flex-wrap justify-content-between">
                                    <div class="speaker-infos">
                                        <h5>Dr. Piyush Choudhary</h5>
                                        <p>Head Technical Committee</p>
                                    </div>

                                </div>
                                <div class="spkr-content-details">
                                    <!-- <p>Completey conceplua high quality
                                                nice markes rather than long term
                                                impact human capital</p> -->
                                    <ul class="social-icons">
                                        <li><a href="#" target="_blank"><i class="icofont-facebook"></i></a></li>
                                        <li><a href="#" target="_blank"><i class="icofont-twitter"></i></a></li>
                                        <li><a href="#" target="_blank"><i class="icofont-instagram"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-8 col-12">
                    <div class="speaker-item">
                        <div class="speaker-inner">
                            <div class="speaker-thumb">
                                <img src="{{ url_for('static', filename='assets/images/speakers/dharmesh.jpg') }}"
                                    alt="speaker">
                            </div>
                            <div class="speaker-content">
                                <div class="spkr-content-title d-flex flex-wrap justify-content-between">
                                    <div class="speaker-infos">
                                        <h5><a href="speaker-details.html">Prof. Dharmesh Barodiya</a> </h5>
                                        <p>Head Sport Committee</p>
                                    </div>
                                </div>
                                <div class="spkr-content-details">
                                    <!-- <p>Completey conceplua high quality
                                                nice markes rather than long term
                                                impact human capital</p> -->
                                    <ul class="social-icons">
                                        <li><a href="#" target="_blank"><i class="icofont-facebook"></i></a></li>
                                        <li><a href="#" target="_blank"><i class="icofont-twitter"></i></a></li>
                                        <li><a href="#" target="_blank"><i class="icofont-instagram"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-8 col-12">
                    <div class="speaker-item">
                        <div class="speaker-inner">
                            <div class="speaker-thumb">
                                <img src="{{ url_for('static', filename='assets/images/speakers/kirti.jpg') }}"
                                    alt="speaker">
                            </div>
                            <div class="speaker-content">
                                <div class="spkr-content-title d-flex flex-wrap justify-content-between">
                                    <div class="speaker-infos">
                                        <h5>Prof. Kirti Patwardhan</h5>
                                        <p>Head Cultural Committee</p>
                                    </div>
                                </div>
                                <div class="spkr-content-details">
                                    <!-- <p>Completey conceplua high quality
                                                nice markes rather than long term
                                                impact human capital</p> -->
                                    <ul class="social-icons">
                                        <li><a href="#" target="_blank"><i class="icofont-facebook"></i></a></li>
                                        <li><a href="#" target="_blank"><i class="icofont-twitter"></i></a></li>
                                        <li><a href="#" target="_blank"><i class="icofont-instagram"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-8 col-12">
                    <div class="speaker-item">
                        <div class="speaker-inner">
                            <div class="speaker-thumb">
                                <img src="{{ url_for('static', filename='assets/images/speakers/jolly.png') }}"
                                    alt="speaker">
                            </div>
                            <div class="speaker-content">
                                <div class="spkr-content-title d-flex flex-wrap justify-content-between">
                                    <div class="speaker-infos">
                                        <h5>Dr. Jolly Masih</h5>
                                        <p>Head Managerial Committee</p>
                                    </div>

                                </div>
                                <div class="spkr-content-details">
                                    <!-- <p>Completey conceplua high quality
                                                nice markes rather than long term
                                                impact human capital</p> -->
                                    <ul class="social-icons">
                                        <li><a href="#" target="_blank"><i class="icofont-facebook"></i></a></li>
                                        <li><a href="#" target="_blank"><i class="icofont-twitter"></i></a></li>
                                        <li><a href="#" target="_blank"><i class="icofont-instagram"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>



<!-- Core End -->
{% endblock content %}