<!DOCTYPE html>
<html lang="en">

<head>
  <title>URJOTSAV 2K22 - PIEMR, INDORE</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <!-- favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='assets/images/x-icon/01.png') }}">

  <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/all.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/icofont.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/lightcase.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/swiper.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/style.css') }}">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  {% block metas %}

  {% endblock metas %}

</head>

<body>

  <!-- preloader start here -->
  <!-- <div class="preloader">
    <div class="preloader-inner">
      <div class="preloader-icon">
        <span></span>
        <span></span>
      </div>
    </div>
  </div> -->
  <!-- preloader ending here -->


  <!-- ==========Header Section Starts Here========== -->
  <header class="header-section">

    <div class="container text-center">
      <img src="{{ url_for('static', filename='assets/images/logo/logo1.png') }}" alt="PIEMR LOGO">
    </div>
    <div class="header-bottom">
      <div class="container">
        <div class="header-wrapper">
          <div class="logo">
            <a href="{{ url_for('main.home') }}">
              <img src="{{ url_for('static', filename='assets/images/logo/logo.png') }}" alt="logo">
            </a>
          </div>
          <div class="menu-area">
            <ul class="menu">
              <li>
                <a href="{{ url_for('main.home') }}">Home</a>
              </li>

              <li>
                <a href="javascript:void(0)">Events</a>
                <ul class="submenu">
                  <li><a href="{{ url_for('main.event', event_type='cultural') }}">Cultural</a></li>
                  <li><a href="{{ url_for('main.event', event_type='managerial') }}">Managerial</a></li>
                  <li><a href="{{ url_for('main.event', event_type='sports') }}">Sports</a></li>
                  <li><a href="{{ url_for('main.event', event_type='technical') }}">Technical</a></li>
                </ul>
              </li>
              <li><a href="{{ url_for('main.about') }}">About</a></li>
              <li><a href="{{ url_for('main.gallery') }}">Gallery</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
            {% if current_user.is_authenticated %}
            {% if current_user.role == "Student" %}
            <a href="{{ url_for('main.profile') }}" class="login"><i class="icofont-user"
                style="border-radius: 2px;"></i>
              <span>Profile</span>
            </a>
            {% elif current_user.role == "Co-ordinator" %}
            <a href="{{ url_for('main.dashboard') }}" class="login"><i class="icofont-user"
                style="border-radius: 2px;"></i>
              <span>Dashboard</span>
            </a>
            {% elif current_user.role == "Core" %}
            <a href="{{ url_for('main.core_dashboard') }}" class="login"><i class="icofont-user"
                style="border-radius: 2px;"></i>
              <span>Dashboard</span>
            </a>
            {% endif %}

            <a href="{{ url_for('main.logout') }}" class="login"><i class="icofont-logout"
                style="border-radius: 2px;"></i>
              <span>Logout</span>
            </a>
            {% else %}
            <a href="{{ url_for('main.login') }}" class="login"><i class="icofont-login"
                style="border-radius: 2px;"></i>
              <span>Login</span>
            </a>
            <a href="{{ url_for('main.register') }}" class="signup"><i class="icofont-ticket"
                style="border-radius: 2px;"></i>
              <span>Register</span>
            </a>
            {% endif %}

            <!-- toggle icons -->
            <div class="header-bar d-lg-none">
              <span></span>
              <span></span>
              <span></span>
            </div>
            <div class="ellepsis-bar d-lg-none">
              <i class="icofont-info-square"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- ==========Header Section Ends Here========== -->

  {% block content %}

  {% endblock content %}

  <!-- Footer Section start here -->




  <footer class="footer-section   padding-tb padding-b d-flex "
    style="background-image: url('static/assets/images/footer/bg.jpg');">
    <div class="container ">
      <div class=" footer-contant">
        <h5 class="text-white">contact details</h5>
        <ul>
          <li><i class="icofont-phone">- 0731-4013333</i></li>
          <li><i class="icofont-email">- info@piemr.edu.in</i></li>
        </ul>
      </div>

      <div class="footer-content text-center">
        <!-- <a class="mb-2" href="index.html"><img src="assets/images/footer/logo.png" alt="eventoz"></a> 
         <h3 class="mb-4">eventoz Eventsite</h3> -->

        <ul class="social-icons justify-content-end">
          <li><a href="https://www.facebook.com/PIEMR/" target="_blank"><i class="icofont-facebook"></i></a></li>
          <li><a href="https://mobile.twitter.com/piemr_indore" target="_blank"><i class="icofont-twitter"></i></a></li>
          <li><a href="https://www.instagram.com/piemr_indore/" target="_blank"><i class="icofont-instagram"></i></a>
          </li>
          <li><a href="https://in.linkedin.com/school/piemr/" target="_blank"><i class="icofont-linkedin"></i></a></li>
        </ul>
      </div>
    </div>
  </footer>
  
  <!-- Footer Section end here -->


  <!-- scrollToTop start here -->
  <a href="#" class="scrollToTop"><i class="icofont-bubble-up"></i><span class="pluse_1"></span><span
      class="pluse_2"></span></a>
  <!-- scrollToTop ending here -->


  <script src="{{ url_for('static', filename='assets/js/jquery.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/js/fontawesome.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/js/waypoints.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/js/swiper.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/js/circularProgressBar.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/js/isotope.pkgd.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/js/lightcase.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/js/functions.js') }}"></script>
</body>

</html>