{% extends 'base.html' %}

{% block content %}


<!-- Page Header Section Start Here -->
<section class="page-header bg_img padding-tb">
    <div class="overlay"></div>
    <div class="container">
        <div class="page-header-content-area">
            <h4 class="ph-title">Co-ordinators</h4>
        </div>
    </div>
</section>
<!-- Page Header Section Ending Here -->

<!-- Registration section start Here -->
<div class="login-section padding-tb">
    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for cat, msg in messages %}
        <div class="alert alert-{{ cat }}">
            {{ msg }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <div class="profile">
            <h3 class="title">{{ current_user.name }}</h3>
            <section class="speakers-section pt-5 shape-img">
                <div class="container">
                    <div class="section-wrapper">
                        <div class="row g-4 justify-content-center">
                            <div class="col-xl-4 col-lg-8 col-12">
                                <div class="speaker-item">
                                    <div class="speaker-inner">
                                        <div class="speaker-content">
                                            <div class="spkr-content-title d-flex flex-wrap justify-content-between">
                                                <div class="row">
                                                    <div class="speaker-infos left">
                                                        <h5>Total Registrations:</h5>
                                                        <h5>{{ total_found }}</h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-4 col-lg-8 col-12">
                                <div class="speaker-item">
                                    <div class="speaker-inner">
                                        <div class="speaker-content">
                                            <div class="spkr-content-title d-flex flex-wrap justify-content-between">
                                                <div class="row">
                                                    <div class="speaker-infos left">
                                                        <h5>Total Amount:</h5>
                                                        <h5>₹ {{ total_amount }} </h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-8 col-12">
                                <div class="speaker-item">
                                    <div class="speaker-inner">
                                        <div class="speaker-content">
                                            <div class="spkr-content-title d-flex flex-wrap justify-content-between">
                                                <div class="row">
                                                    <div class="speaker-infos left">
                                                        <h5>Total Amount Collected:</h5>
                                                        <h5>₹ {{ total_amount_collected }} </h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="shop-cart padding-tb">
                <div class="container">
                    <div class="section-wrapper">
                        <div class="cart-top">
                            {% if event[0] %}
                            <table>
                                <thead>
                                    <tr>
                                        <th>Event Name</th>
                                        <th>PIEMR Fees</th>
                                        <th>Outside Fees</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for eve in event %}
                                    <tr>
                                        <td>{{ eve.event_name }}</td>
                                        <td>{{ eve.in_entry_fees }}</td>
                                        <td>{{ eve.out_entry_fees }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {% else %}
                            No Events.
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="shop-cart">
                <div class="container">
                    <div class="section-wrapper">
                        <div class="cart-top">
                            {% if events[0] %}
                            <table>
                                <thead>
                                    <tr>
                                        <th>Event Type</th>
                                        <th>Event Name</th>
                                        <th>Team Leader</th>
                                        <th>Mobile Number</th>
                                        <th>Team Size</th>
                                        <th>Team Members</th>
                                        <th>Fees</th>
                                        <th>Date</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    {% for event in events %}
                                    <tr>
                                        <td>{{ event.event_type | title }}</td>
                                        <td>{{ event.event_name }}</td>
                                        <td class="product-item">
                                            {{ event.team_leader }}
                                        </td>
                                        <td>{{ event.mobile_number }}</td>
                                        <td>{{ event.team_size }}</td>
                                        <td>{{ event.team_members }}</td>
                                        <td>₹ {{ event.fees }}</td>
                                        <td>{{ event.date.date() }}</td>
                                        <td>
                                            {% if event.paid %}
                                            <span>Paid</span>
                                            {% if event.first_no %}
                                            <form action="{{ url_for('main.reward_point_add') }}" method="post">
                                                <div class="btn-sm">
                                                    <input type="text" value="{{ event.pay_id }}" name="event_id"
                                                        hidden>
                                                    <input type="text" value="first" name="position" hidden>
                                                    <button type="submit" class="btn btn-success">First</button>
                                                </div>
                                            </form>
                                            {% endif %}
                                            {% if event.second_no %}
                                            <form action="{{ url_for('main.reward_point_add') }}" method="post">
                                                <div class="btn-sm">
                                                    <input type="text" value="{{ event.pay_id }}" name="event_id"
                                                        hidden>
                                                    <input type="text" value="second" name="position" hidden>
                                                    <button type="submit" class="btn btn-success">Second</button>
                                                </div>
                                            </form>
                                            {% endif %}
                                            {% else %}
                                            <form action="{{ url_for('main.payment_success') }}" method="post">
                                                <div class="btn-sm">
                                                    <input type="text" value="{{ event.pay_id }}" name="event_id"
                                                        hidden>
                                                    <button type="submit" class="btn btn-success">Approve</button>
                                                </div>
                                            </form>
                                            <form action="{{ url_for('main.event_delete') }}" method="post">
                                                <div class="btn-sm">
                                                    <input type="text" value="{{ event.pay_id }}" name="event_id"
                                                        hidden>
                                                    <button type="submit" class="btn btn-danger">Delete</button>
                                                </div>
                                            </form>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {% else %}
                            No Registrations.
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Registration section end Here -->

{% endblock content %}
