{% extends 'base.html' %}

{% block content %}

<!-- Page Header Section Start Here -->
<section class="page-header bg_img padding-tb">
    <div class="overlay"></div>
    <div class="container">
        <div class="page-header-content-area">
            <h4 class="ph-title">{{ event_type | title }}</h4>
        </div>
    </div>
</section>
<!-- Page Header Section Ending Here -->

<!-- Registration section start Here -->
<div class="login-section padding-tb">
    <div class="container">
        <div class="profile ">
            <!-- Branch Wise  -->
            <d class="shop-cart w-100 ">
                <div class="container">
                    {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                    {% for cat, msg in messages %}
                    <div class="alert alert-{{ cat }}">
                        {{ msg }}
                    </div>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}
                    <div class="section-wrapper">


                        <div class="cart-top">
                            <h3 class="title">Eventwise Details<span class="committe"> (Paid Registrations)</span>
                            </h3>

                            {% if events_list[0] %}
                            <table>
                                <thead>
                                    <tr>
                                        <th>Sno.</th>
                                        <th>Event name</th>
                                        <th>No. Of Registered Students</th>
                                        <th>Amount Collected</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    {% for event in events_list %}
                                    <tr>
                                        <td class="product-item">
                                            <div class="p-content">
                                                {{ loop.index }}.
                                            </div>
                                        </td>
                                        <td><a href="{{ url_for('main.event_wise_user', event_type=event_type, event_name=event['event_name']) }}">{{
                                                event["event_name"] }}</a></td>
                                        <td>{{ event["total_registration"] }}</td>
                                        <td>₹ {{ event["fees"] }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {% else %}
                            No Registrations
                            {% endif %}
                        </div>


                        <div class="cart-top">
                            <h3 class="title">Registered Students <span class="committee">(Paid Registrations)</span>
                            </h3>

                            {% if events[0] %}
                            <table>
                                <thead>
                                    <tr>
                                        <th>Sno.</th>
                                        <th>Team Leader name </th>
                                        <th>Leader Mobile Number</th>
                                        <th>Team Size</th>
                                        <th>Event Name</th>
                                        <th>Date</th>
                                        <th>Fees</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    {% for event in events %}
                                    <tr>
                                        <td class="product-item">
                                            <div class="p-content">
                                                {{ loop.index }}.
                                            </div>
                                        </td>
                                        <td>{{ event.team_leader | title }}</td>
                                        <td>{{ event.mobile_number | title }}</td>
                                        <td>{{ event.team_size | title }}</td>
                                        <td>{{ event.event_name | title }}</td>
                                        <td>{{ event.date.date() }}</td>
                                        <td>₹ {{ event.fees | title }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {% else %}
                            No Registrations
                            {% endif %}
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
</div>
<!-- Registration section end Here -->

{% endblock content %}
