{% extends 'base.html' %}

{% block content %}

<!-- Page Header Section Start Here -->
<section class="page-header bg_img padding-tb">
    <div class="overlay"></div>
    <div class="container">
        <div class="page-header-content-area">
            <h4 class="ph-title">{{ event_type }}</h4>
        </div>
    </div>
</section>
<!-- Page Header Section Ending Here -->

<!-- Registration section start Here -->
<div class="login-section padding-tb">
    <div class="container">
        <div class="profile ">
            <!-- Branch Wise  -->
            <d class="shop-cart w-100 ">
                <div class="container">
                    <div class="section-wrapper">
                        <div class="cart-top">
                            <h3 class="title">Registered Students <span class="committee">{{ event_type }}</span> </h3>
                            <table>
                                <thead>
                                    <tr>
                                        <th>Sno.</th>
                                        <th>Team Leader name </th>
                                        <th>Leader Mobile Number</th>
                                        <th>Team Size</th>
                                        <th>Event Name</th>
                                        <th>Date</th>
                                        <th>Fees</th>
                                        <th>Paid </th>
                                    </tr>
                                </thead>
                                <tbody>

                                    {% for event in events %}
                                    <tr>
                                        <td class="product-item">
                                            <div class="p-content">
                                                {{ loop.index }}.
                                            </div>
                                        </td>
                                        <td>{{ event.team_leader }}</td>
                                        <td>{{ event.mobile_number }}</td>
                                        <td>{{ event.team_members }}</td>
                                        <td>{{ event.event_name }}</td>
                                        <td>{{ event.date.date() }}</td>
                                        <td>₹ {{ event.fees }}</td>
                                        {% if event.paid %}
                                        <td>Yes</td>
                                        {% endif %}
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
</div>
<!-- Registration section end Here -->

{% endblock content %}