{% extends 'base.html' %}


{% block metas %}
<meta id="cultural" data-name="{{cultural}}">
<meta id="managerial" data-name="{{managerial}}">
<meta id="technical" data-name="{{technical}}">
<meta id="sports" data-name="{{sports}}">
{% endblock metas %}

{% block content %}
<!-- Page Header Section Start Here -->
<section class="page-header bg_img padding-tb">
    <div class="overlay"></div>
    <div class="container">
        <div class="page-header-content-area">
            <h4 class="ph-title">Dashboard For Core Committee</h4>
        </div>
    </div>
</section>
<!-- Page Header Section Ending Here -->

<!-- Registration section start Here -->
<div class="login-section padding-tb">
    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for cat, msg in messages %}
        <div class="alert alert-{{ cat }}">
            {{ msg }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <div class="profile">
            <h3 class="title">{{ current_user.name }} <span class="committee">(Core Committee)</span> </h3>
            <section class="speakers-section pt-5 shape-img">
                <div class="container">
                    <div class="section-wrapper">
                        <div class="row g-4 justify-content-center">
                            <div class="col-xl-3 col-lg-8 col-12">
                                <div class="speaker-item">
                                    <div class="speaker-inner">
                                        <div class="speaker-content">
                                            <div class="spkr-content-title d-flex flex-wrap justify-content-between">
                                                <div class="row">
                                                    <div class="speaker-infos left">
                                                        <h5><a
                                                                href="{{ url_for('main.event_wise_data', event_type='cultural') }}">Cultural</a>
                                                        </h5>
                                                        <h5><a
                                                                href="{{ url_for('main.event_wise_data', event_type='cultural') }}">{{
                                                                cultural }}</a></h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-3 col-lg-8 col-12">
                                <div class="speaker-item">
                                    <div class="speaker-inner">
                                        <div class="speaker-content">
                                            <div class="spkr-content-title d-flex flex-wrap justify-content-between">
                                                <div class="row">
                                                    <div class="speaker-infos left">
                                                        <h5><a
                                                                href="{{ url_for('main.event_wise_data', event_type='managerial') }}">Managerial</a>
                                                        </h5>
                                                        <h5><a
                                                                href="{{ url_for('main.event_wise_data', event_type='managerial') }}">{{
                                                                managerial }}</a></h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-3 col-lg-8 col-12">
                                <div class="speaker-item">
                                    <div class="speaker-inner">
                                        <div class="speaker-content">
                                            <div class="spkr-content-title d-flex flex-wrap justify-content-between">
                                                <div class="row">
                                                    <div class="speaker-infos left">
                                                        <h5><a
                                                                href="{{ url_for('main.event_wise_data', event_type='technical') }}">Technical</a>
                                                        </h5>
                                                        <h5><a
                                                                href="{{ url_for('main.event_wise_data', event_type='technical') }}">{{
                                                                technical }}</a></h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-3 col-lg-8 col-12">
                                <div class="speaker-item">
                                    <div class="speaker-inner">
                                        <div class="speaker-content">
                                            <div class="spkr-content-title d-flex flex-wrap justify-content-between">
                                                <div class="row">
                                                    <div class="speaker-infos left">
                                                        <h5><a
                                                                href="{{ url_for('main.event_wise_data', event_type='sports') }}">Sports</a>
                                                        </h5>
                                                        <h5><a
                                                                href="{{ url_for('main.event_wise_data', event_type='sports') }}">{{
                                                                sports }}</a></h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </section>

            {% if cultural or managerial or technical or sports %}
            <!-- Charts Section -->
            <div>
                <canvas id="myChart"></canvas>
            </div>
            {% endif %}

            <script>
                const ctx = document.getElementById('myChart').getContext('2d');
                const myChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: ['Cultural', 'Managerial', 'Technical', 'Sports'],
                        datasets: [{
                            label: 'Registrations: ',
                            data: [{{ cultural }}, {{ managerial }}, {{ technical }}, {{ sports }}],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                        borderWidth: 1
                }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
                });
            </script>

            <!-- Charts End -->
            <br>
            <br>
            <form action="/core_dashboard/" method="post" id="get_reward_points">
                <label for="get_range" class="form-label">Select Range For Reward Points</label>
                <input type="range" min="0" max="200" id="get_range" name="get_range" value="{{ get_range }}" onchange="myFunction()">
                <input class="submit" type="submit" hidden></input>
                <br>
                <span id="get_range_value">Showing result for: {{ get_range }}</span>
            </form>

            <div class="shop-cart w-100">
                <div class="container">
                    <div class="section-wrapper">
                        <div class="cart-top">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Department</th>
                                        <th>Reward Points</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for user in users %}
                                    <tr>
                                        <td class="product-item">
                                            <div class="p-content">
                                                {{ user.name }}
                                            </div>
                                        </td>
                                        <td>{{ user.dept_name }}</td>
                                        <td>{{ user.reward_points }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="shop-cart padding-tb w-100">
                <div class="container">
                    <div class="section-wrapper">
                        <div class="cart-top">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Event Category</th>
                                        <th>Total Amount Generated</th>
                                        <th>Total Amount Collected</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="product-item">
                                            <div class="p-content">
                                                Cultural
                                            </div>
                                        </td>
                                        <td>₹{{ cultural_amount }}</td>
                                        <td>₹{{ cultural_amount_collected }}</td>
                                    </tr>
                                    <tr>
                                        <td class="product-item">
                                            <div class="p-content">
                                                Technical
                                            </div>
                                        </td>
                                        <td>₹{{ technical_amount }}</td>
                                        <td>₹{{ technical_amount_collected }}</td>
                                    </tr>
                                    <tr>
                                        <td class="product-item">
                                            <div class="p-content">
                                                Sports
                                            </div>
                                        </td>
                                        <td>₹{{ sports_amount }}</td>
                                        <td>₹{{ sports_amount_collected }}</td>
                                    </tr>
                                    <tr>
                                        <td class="product-item">
                                            <div class="p-content">
                                                Managerial
                                            </div>
                                        </td>
                                        <td>₹{{ managerial_amount }}</td>
                                        <td>₹{{ managerial_amount_collected }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            {% if cultural_amount or managerial_amount or technical_amount or sports_amount %}
            <!-- Charts Section -->
            <div>
                <canvas id="amount"></canvas>
            </div>
            {% endif %}

            <script>
                const amt = document.getElementById('amount').getContext('2d');
                const amount = new Chart(amt, {
                    type: 'bar',
                    data: {
                        labels: ['Cultural', 'Managerial', 'Technical', 'Sports'],
                        datasets: [{
                            label: 'Collected Amount (₹)',
                            data: [{{ cultural_amount_collected }}, {{ managerial_amount_collected }}, {{ technical_amount_collected }}, {{ sports_amount_collected }}],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                        borderWidth: 1
                }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
                });
            </script>
            <!-- Charts End -->
            <br>
            <br>


            <!-- Branch Wise  -->
            <div class="shop-cart w-100 ">
                <div class="container">
                    <div class="section-wrapper">
                        <div class="cart-top">
                            <h3 class="title">Reward points <span class="committee">Department Wise</span> </h3>
                            <table>
                                <thead>
                                    <tr>
                                        <th>Department Name</th>
                                        <th>Reward Points</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for dept in depts %}
                                    <tr>
                                        <td class="product-item">
                                            <div class="p-content">
                                                {{ dept.dept_name }}
                                            </div>
                                        </td>
                                        <td>{{ dept.reward_points }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Registration section end Here -->

<script>
function myFunction() {
  var x = document.getElementById("get_range").value;
  const myForm = document.getElementById("get_reward_points");
  var get_range_value = document.getElementById("get_range_value");
  myForm.submit();
  get_range_value.innerHTML = "Showing result for: "+ x;
}
</script>

{% endblock content %}
