{% extends 'base.html' %}
{% block content %}


    <!-- Page Header Section Start Here -->
    <section class="page-header bg_img padding-tb">
        <div class="overlay"></div>
        <div class="container">
            <div class="page-header-content-area">
                <h4 class="ph-title">Dashboard For Co-ordinaters</h4>
            </div>
        </div>
    </section>
    <!-- Page Header Section Ending Here -->

    <!-- Registration section start Here -->
    <div class="login-section padding-tb">
        <div class="container">
            <div class="profile">
                <h3 class="title">Dipti Mam <span class="committee">(Core Committee)</span> </h3>

                <section class="speakers-section pt-5 shape-img">
                    <div class="container">
                        <div class="section-wrapper">
                            <div class="row g-4 justify-content-center">
                                <div class="col-xl-3 col-lg-8 col-12">
                                    <div class="speaker-item">
                                        <div class="speaker-inner">
                                            <div class="speaker-content">
                                                <div
                                                    class="spkr-content-title d-flex flex-wrap justify-content-between">
                                                    <div class="row">
                                                        <div class="speaker-infos left">
                                                            <h5>Cultural:</h5>
                                                            <h5>56</h5>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xl-3 col-lg-8 col-12">
                                    <div class="speaker-item">
                                        <div class="speaker-inner">
                                            <div class="speaker-content">
                                                <div
                                                    class="spkr-content-title d-flex flex-wrap justify-content-between">
                                                    <div class="row">
                                                        <div class="speaker-infos left">
                                                            <h5>Managerial </h5>
                                                            <h5>36</h5>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xl-3 col-lg-8 col-12">
                                    <div class="speaker-item">
                                        <div class="speaker-inner">
                                            <div class="speaker-content">
                                                <div
                                                    class="spkr-content-title d-flex flex-wrap justify-content-between">
                                                    <div class="row">
                                                        <div class="speaker-infos left">
                                                            <h5>Techinical: </h5>
                                                            <h5>43 </h5>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xl-3 col-lg-8 col-12">
                                    <div class="speaker-item">
                                        <div class="speaker-inner">
                                            <div class="speaker-content">
                                                <div
                                                    class="spkr-content-title d-flex flex-wrap justify-content-between">
                                                    <div class="row">
                                                        <div class="speaker-infos left">
                                                            <!-- <h5><a href="speaker-details.html">Total Amount Recieved:</a> </h5> -->
                                                            <h5>Sports</h5>

                                                            <h5>150</h5>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </section>

                <!-- Charts Section -->
                <div>
                    <canvas id="myChart"></canvas>
                </div>

                <script>
                    const ctx = document.getElementById('myChart').getContext('2d');
                    const myChart = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: ['Cultural', 'Managerial', 'Technical', 'Sports'],
                            datasets: [{
                                label: '# of Registration',
                                data: [56, 36, 43, 56],
                                backgroundColor: [
                                    'rgba(255, 99, 132, 0.2)',
                                    'rgba(54, 162, 235, 0.2)',
                                    'rgba(255, 206, 86, 0.2)',
                                    'rgba(75, 192, 192, 0.2)',
                                    'rgba(153, 102, 255, 0.2)',
                                    'rgba(255, 159, 64, 0.2)'
                                ],
                                borderColor: [
                                    'rgba(255, 99, 132, 1)',
                                    'rgba(54, 162, 235, 1)',
                                    'rgba(255, 206, 86, 1)',
                                    'rgba(75, 192, 192, 1)',
                                    'rgba(153, 102, 255, 1)',
                                    'rgba(255, 159, 64, 1)'
                                ],
                                borderWidth: 1
                            }]
                        },
                        options: {
                            scales: {
                                y: {
                                    beginAtZero: true
                                }
                            }
                        }
                    });
                </script>

                <!-- Charts End -->


                <div class="shop-cart padding-tb w-100 ">
                    <div class="container">
                        <div class="section-wrapper">
                            <div class="cart-top">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Event Category</th>
                                            <th>Total Amount Collected</th>
                                            <th>Team Wise Amount Collected</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="product-item">
                                                <div class="p-content">
                                                    Cultural
                                                </div>
                                            </td>
                                            <td>₹5000</td>
                                            <td>₹3500</td>
                                        </tr>
                                        <tr>
                                            <td class="product-item">
                                                <div class="p-content">
                                             Managerial
                                                </div>
                                            </td>
                                            <td>₹2250</td>
                                            <td>₹1250</td>
                                        </tr>
                                        <tr>
                                            <td class="product-item">
                                                <div class="p-content">
                                                  Techinical
                                                </div>
                                            </td>
                                            <td>₹2250</td>
                                            <td>₹1250</td>
                                        </tr>
                                        <tr>
                                            <td class="product-item">
                                                <div class="p-content">
                                                   Sports
                                                </div>
                                            </td>
                                            <td>₹2250</td>
                                            <td>₹1250</td>


                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Branch Wise  -->

                <div class="shop-cart w-100 ">
                    <div class="container">
                        <div class="section-wrapper">
                            <div class="cart-top">
                                <h3 class="title">All Events <span class="committee">Branch Wise</span> </h3>
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Branch Name</th>
                                            <th>Total Registration </th>
                                            <th>Cultural </th>
                                            <th>Managerial</th>
                                            <th>Techinical</th>
                                            <th>Sports</th>
                                            <th>Total Amount Collected</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="product-item">
                                                <div class="p-content">
                                                    Computer
                                                </div>
                                            </td>
                                            <td>350</td>
                                            <td>150</td>
                                            <td>50</td>
                                            <td>75</td>
                                            <td>40</td>

                                            <td>₹3500</td>
                                        </tr>

                                        <tr>
                                            <td class="product-item">
                                                <div class="p-content">
                                                   Mechanical
                                                </div>
                                            </td>
                                            <td>350</td>
                                            <td>150</td>
                                            <td>50</td>
                                            <td>75</td>
                                            <td>40</td>

                                            <td>₹3500</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>



                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Registration section end Here -->

    {% endblock content %}