{% extends 'base.html' %}
{% block content %}


<!-- Page Header Section Start Here -->
<section class="page-header bg_img padding-tb">
    <div class="overlay"></div>
    <div class="container">
        <div class="page-header-content-area">
            <h4 class="ph-title">{{ current_event }} Event</h4>
            <ul class="lab-ul">
                <li><a href="{{ url_for('main.home') }}">Home</a></li>
                <li><a class="active">{{ current_event }} Event</a></li>
            </ul>
        </div>
    </div>
</section>
<!-- Page Header Section Ending Here -->

<!-- Code Section -->
<section class="speakers-section padding-tb padding-b shape-img ">
    {% if events[0] %}
    <div class="container-fluid col-md-12 col-sm-12">
        <div class="section-header">
            <h2>Event Details</h2>
        </div>
        <div class="shop-cart">
            <div class="container">
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                {% for cat, msg in messages %}
                <div class="alert alert-{{ cat }}">
                    {{ msg }}
                </div>
                {% endfor %}
                {% endif %}
                {% endwith %}
                <div class="section-wrapper">
                    <div class="cart-top">
                        <table>
                            <thead>
                                <tr>
                                    <th>S.No</th>
                                    <th>Event</th>
                                    <th>Faculity Co-ordinaters</th>
                                    <th>Event Date</th>
                                    <th>Venue</th>
                                    <th>Entry Fees</th>
                                    <th>Prize</th>
                                    <th>Registration</th>
                                </tr>
                            </thead>
                            <tbody>

                                {% for event in events %}
                                <tr>
                                    <th scope="row" style="text-align:center;">{{ loop.index }}
                                    </th>
                                    <td>{{ event.event_name }}</td>
                                    <td>{{ event.co_cordinators.split('\n')|join('<br>'|safe) }}</td>
                                    <td>{{ event.event_date.date() }}</td>
                                    <td>{{ event.venue }}</td>
                                    {% if current_user.is_authenticated and current_user.is_piemr %}
                                    <td>₹ {{ event.in_entry_fees }}</td>
                                    {% else %}
                                    <td>₹ {{ event.out_entry_fees }}</td>
                                    {% endif %}
                                    <td>{{ event.prize }}</td>
                                    {% set event_name = event.event_name %}
                                    <td>
                                        {% if current_user.is_authenticated and current_user.role == "Student" %}
                                        <div class="about-btn-grp btn-sm">
                                            <a href="{{ url_for('main.event_registration', event_name=event_name) }}"
                                                class="lab-btn style-orange"><span>Register</span></a>
                                        </div>
                                        {% elif current_user.is_authenticated and current_user.role == "Co-ordinator" %}
                                        <div class="about-btn-grp btn-sm">
                                            <a href="{{ url_for('main.dashboard') }}"
                                                class="lab-btn style-orange"><span>Dashboard</span> </a>
                                        </div>
                                        {% elif current_user.is_authenticated and current_user.role == "Core" %}
                                        <div class="about-btn-grp btn-sm">
                                            <a href="{{ url_for('main.core_dashboard') }}"
                                                class="lab-btn style-orange"><span>Dashboard</span> </a>
                                        </div>
                                        {% else %}
                                        <div class="about-btn-grp btn-sm">
                                            <a href="{{ url_for('main.login') }}"
                                                class="lab-btn style-orange"><span>Register</span> </a>
                                        </div>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <h1 style="text-align: center;">Coming soon!</h1>
    </h5>
    {% endif %}
</section>

{% endblock content %}
