{% extends 'base.html' %}
{% block content %}
<!-- Page Header Section Start Here -->
<section class="page-header bg_img padding-tb">
    <div class="overlay"></div>
    <div class="container">
        <div class="page-header-content-area">
            <h4 class="ph-title">Recent Event Photos</h4>
        </div>
    </div>
</section>
<!-- Page Header Section Ending Here -->

<!-- Gallary section start here-->
<div class="gallery-section padding-tb">
    <div class="container">
        <ul class="filter-button-group lab-ul d-flex justify-content-center mb-4">
            <li class="filter-btn is-checked" data-filter="*">Show All </li>
            <li class="filter-btn" data-filter=".technical">Technical
            <li class="filter-btn" data-filter=".managerial">Managerial
            </li>
            <li class="filter-btn" data-filter=".cultural">Cultural</li>
            <li class="filter-btn" data-filter=".sports">Sports
            </li>
        </ul>
        <div class="grid pb-15">
            <div class="grid-item technical">
                <div class="grid-inner">
                    <div class="grid-thumb">
                        <img src="{{ url_for('static', filename='assets/images/gallery/mason/01.jpeg') }}"
                            alt="gallery-img">
                    </div>
                    <div class="grid-content p-2">
                        <a href="{{ url_for('static', filename='assets/images/gallery/mason/01.jpeg') }}"
                            data-rel="lightcase"><i class="icofont-expand"></i></a>
                    </div>
                </div>
            </div>
            <div class="grid-item technical">
                <div class="grid-inner">
                    <div class="grid-thumb">
                        <img src="{{ url_for('static', filename='assets/images/gallery/mason/02.jpeg') }}"
                            alt="gallery-img">
                    </div>
                    <div class="grid-content">
                        <a href="{{ url_for('static', filename='assets/images/gallery/mason/02.jpeg') }}"
                            data-rel="lightcase"><i class="icofont-expand"></i></a>
                    </div>
                </div>
            </div>
            <div class="grid-item technical">
                <div class="grid-inner">
                    <div class="grid-thumb">
                        <img src="{{ url_for('static', filename='assets/images/gallery/mason/03.jpeg') }}"
                            alt="gallery-img">
                    </div>
                    <div class="grid-content">
                        <a href="{{ url_for('static', filename='assets/images/gallery/mason/03.jpeg') }}"
                            data-rel="lightcase"><i class="icofont-expand"></i></a>
                    </div>
                </div>
            </div>
            <div class="grid-item technical">
                <div class="grid-inner">
                    <div class="grid-thumb">
                        <img src="{{ url_for('static', filename='assets/images/gallery/mason/04.jpeg') }}"
                            alt="gallery-img">
                    </div>
                    <div class="grid-content">
                        <a href="{{ url_for('static', filename='assets/images/gallery/mason/04.jpeg') }}"
                            data-rel="lightcase"><i class="icofont-expand"></i></a>
                    </div>
                </div>
            </div>
            <div class="grid-item managerial">
                <div class="grid-inner">
                    <div class="grid-thumb">
                        <img src="{{ url_for('static', filename='assets/images/gallery/mason/05.jpeg') }}"
                            alt="gallery-img">
                    </div>
                    <div class="grid-content">
                        <a href="{{ url_for('static', filename='assets/images/gallery/mason/05.jpeg') }}"
                            data-rel="lightcase"><i class="icofont-expand"></i></a>
                    </div>
                </div>
            </div>
            <div class="grid-item managerial">
                <div class="grid-inner">
                    <div class="grid-thumb">
                        <img src="{{ url_for('static', filename='assets/images/gallery/mason/06.jpeg') }}"
                            alt="gallery-img">
                    </div>
                    <div class="grid-content">
                        <a href="{{ url_for('static', filename='assets/images/gallery/mason/06.jpeg') }}"
                            data-rel="lightcase"><i class="icofont-expand"></i></a>
                    </div>
                </div>
            </div>
            <div class="grid-item cultural">
                <div class="grid-inner">
                    <div class="grid-thumb">
                        <img src="{{ url_for('static', filename='assets/images/gallery/mason/09.jpeg') }}"
                            alt="gallery-img">
                    </div>
                    <div class="grid-content">
                        <a href="{{ url_for('static', filename='assets/images/gallery/mason/09.jpeg') }}"
                            data-rel="lightcase"><i class="icofont-expand"></i></a>
                    </div>
                </div>
            </div>
            <div class="grid-item managerial">
                <div class="grid-inner">
                    <div class="grid-thumb">
                        <img src="{{ url_for('static', filename='assets/images/gallery/mason/10.jpeg') }}"
                            alt="gallery-img">
                    </div>
                    <div class="grid-content">
                        <a href="{{ url_for('static', filename='assets/images/gallery/mason/10.jpeg') }}"
                            data-rel="lightcase"><i class="icofont-expand"></i></a>
                    </div>
                </div>
            </div>
            <div class="grid-item cultural">
                <div class="grid-inner">
                    <div class="grid-thumb">
                        <img src="{{ url_for('static', filename='assets/images/gallery/mason/12.jpeg') }}"
                            alt="gallery-img">
                    </div>
                    <div class="grid-content">
                        <a href="{{ url_for('static', filename='assets/images/gallery/mason/12.jpeg') }}"
                            data-rel="lightcase"><i class="icofont-expand"></i></a>
                    </div>
                </div>
            </div>
            <div class="grid-item sports">
                <div class="grid-inner">
                    <div class="grid-thumb">
                        <img src="{{ url_for('static', filename='assets/images/gallery/mason/13.jpeg') }}"
                            alt="gallery-img">
                    </div>
                    <div class="grid-content">
                        <a href="{{ url_for('static', filename='assets/images/gallery/mason/13.jpeg') }}"
                            data-rel="lightcase"><i class="icofont-expand"></i></a>
                    </div>
                </div>
            </div>
            <div class="grid-item sports">
                <div class="grid-inner">
                    <div class="grid-thumb">
                        <img src="{{ url_for('static', filename='assets/images/gallery/mason/14.jpeg') }}"
                            alt="gallery-img">
                    </div>
                    <div class="grid-content">
                        <a href="{{ url_for('static', filename='assets/images/gallery/mason/14.jpeg') }}"
                            data-rel="lightcase"><i class="icofont-expand"></i></a>
                    </div>
                </div>
            </div>
            <div class="grid-item sports">
                <div class="grid-inner">
                    <div class="grid-thumb">
                        <img src="{{ url_for('static', filename='assets/images/gallery/mason/15.jpeg') }}"
                            alt="gallery-img">
                    </div>
                    <div class="grid-content">
                        <a href="{{ url_for('static', filename='assets/images/gallery/mason/15.jpeg') }}"
                            data-rel="lightcase"><i class="icofont-expand"></i></a>
                    </div>
                </div>
            </div>
            <div class="grid-item sports">
                <div class="grid-inner">
                    <div class="grid-thumb">
                        <img src="{{ url_for('static', filename='assets/images/gallery/mason/16.jpeg') }}"
                            alt="gallery-img">
                    </div>
                    <div class="grid-content">
                        <a href="{{ url_for('static', filename='assets/images/gallery/mason/16.jpeg') }}"
                            data-rel="lightcase"><i class="icofont-expand"></i></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Gallary section end here-->

{% endblock content %}