{% extends 'base.html' %}
{% block content %}
<!-- Page Header Section Start Here -->
<section class="page-header bg_img padding-tb">
    <div class="overlay"></div>
    <div class="container">
        <div class="page-header-content-area">
            <h4 class="ph-title">Recent Event Photos</h4>
        </div>
    </div>
</section>
<!-- Page Header Section Ending Here -->

<!-- Gallary section start here-->
<div class="gallery-section padding-tb">
    <div class="container">
        <ul class="filter-button-group lab-ul d-flex justify-content-center mb-4">
            <li class="filter-btn is-checked" data-filter="*">Show All </li>
            <li class="filter-btn" data-filter=".technical">Technical
            <li class="filter-btn" data-filter=".managerial">Managerial
            </li>
            <li class="filter-btn" data-filter=".cultural">Cultural</li>
            <li class="filter-btn" data-filter=".sports">Sports
            </li>
        </ul>
        <div class="grid pb-15">
            <!-- Technical Starts -->
            <div class="grid-item technical">
                <div class="grid-inner">
                    <div class="grid-thumb">
                        <img src="{{ url_for('static', filename='assets/images/gallery/technical/1.png') }}"
                            alt="gallery-img">
                    </div>
                    <div class="grid-content p-2">
                        <a href="{{ url_for('static', filename='assets/images/gallery/technical/1.png') }}"
                            data-rel="lightcase"><i class="icofont-expand"></i></a>
                    </div>
                </div>
            </div>
            <div class="grid-item technical">
                <div class="grid-inner">
                    <div class="grid-thumb">
                        <img src="{{ url_for('static', filename='assets/images/gallery/technical/2.png') }}"
                            alt="gallery-img">
                    </div>
                    <div class="grid-content p-2">
                        <a href="{{ url_for('static', filename='assets/images/gallery/technical/2.png') }}"
                            data-rel="lightcase"><i class="icofont-expand"></i></a>
                    </div>
                </div>
            </div>
            <div class="grid-item technical">
                <div class="grid-inner">
                    <div class="grid-thumb">
                        <img src="{{ url_for('static', filename='assets/images/gallery/technical/3.png') }}"
                            alt="gallery-img">
                    </div>
                    <div class="grid-content p-2">
                        <a href="{{ url_for('static', filename='assets/images/gallery/technical/3.png') }}"
                            data-rel="lightcase"><i class="icofont-expand"></i></a>
                    </div>
                </div>
            </div>
            <div class="grid-item technical">
                <div class="grid-inner">
                    <div class="grid-thumb">
                        <img src="{{ url_for('static', filename='assets/images/gallery/technical/4.png') }}"
                            alt="gallery-img">
                    </div>
                    <div class="grid-content p-2">
                        <a href="{{ url_for('static', filename='assets/images/gallery/technical/4.png') }}"
                            data-rel="lightcase"><i class="icofont-expand"></i></a>
                    </div>
                </div>
            </div>
            <div class="grid-item technical">
                <div class="grid-inner">
                    <div class="grid-thumb">
                        <img src="{{ url_for('static', filename='assets/images/gallery/technical/5.png') }}"
                            alt="gallery-img">
                    </div>
                    <div class="grid-content p-2">
                        <a href="{{ url_for('static', filename='assets/images/gallery/technical/5.png') }}"
                            data-rel="lightcase"><i class="icofont-expand"></i></a>
                    </div>
                </div>
            </div>
            <div class="grid-item technical">
                <div class="grid-inner">
                    <div class="grid-thumb">
                        <img src="{{ url_for('static', filename='assets/images/gallery/technical/6.png') }}"
                            alt="gallery-img">
                    </div>
                    <div class="grid-content p-2">
                        <a href="{{ url_for('static', filename='assets/images/gallery/technical/6.png') }}"
                            data-rel="lightcase"><i class="icofont-expand"></i></a>
                    </div>
                </div>
            </div>
            <div class="grid-item technical">
                <div class="grid-inner">
                    <div class="grid-thumb">
                        <img src="{{ url_for('static', filename='assets/images/gallery/technical/7.png') }}"
                            alt="gallery-img">
                    </div>
                    <div class="grid-content p-2">
                        <a href="{{ url_for('static', filename='assets/images/gallery/technical/7.png') }}"
                            data-rel="lightcase"><i class="icofont-expand"></i></a>
                    </div>
                </div>
            </div>
            <div class="grid-item technical">
                <div class="grid-inner">
                    <div class="grid-thumb">
                        <img src="{{ url_for('static', filename='assets/images/gallery/technical/8.png') }}"
                            alt="gallery-img">
                    </div>
                    <div class="grid-content p-2">
                        <a href="{{ url_for('static', filename='assets/images/gallery/technical/8.png') }}"
                            data-rel="lightcase"><i class="icofont-expand"></i></a>
                    </div>
                </div>
            </div>
            <div class="grid-item technical">
                <div class="grid-inner">
                    <div class="grid-thumb">
                        <img src="{{ url_for('static', filename='assets/images/gallery/technical/9.png') }}"
                            alt="gallery-img">
                    </div>
                    <div class="grid-content p-2">
                        <a href="{{ url_for('static', filename='assets/images/gallery/technical/9.png') }}"
                            data-rel="lightcase"><i class="icofont-expand"></i></a>
                    </div>
                </div>
            </div>
            <div class="grid-item technical">
                <div class="grid-inner">
                    <div class="grid-thumb">
                        <img src="{{ url_for('static', filename='assets/images/gallery/technical/10.png') }}"
                            alt="gallery-img">
                    </div>
                    <div class="grid-content p-2">
                        <a href="{{ url_for('static', filename='assets/images/gallery/technical/10.png') }}"
                            data-rel="lightcase"><i class="icofont-expand"></i></a>
                    </div>
                </div>
            </div>
            <div class="grid-item technical">
                <div class="grid-inner">
                    <div class="grid-thumb">
                        <img src="{{ url_for('static', filename='assets/images/gallery/technical/11.png') }}"
                            alt="gallery-img">
                    </div>
                    <div class="grid-content p-2">
                        <a href="{{ url_for('static', filename='assets/images/gallery/technical/11.png') }}"
                            data-rel="lightcase"><i class="icofont-expand"></i></a>
                    </div>
                </div>
            </div>
            <div class="grid-item technical">
                <div class="grid-inner">
                    <div class="grid-thumb">
                        <img src="{{ url_for('static', filename='assets/images/gallery/technical/12.png') }}"
                            alt="gallery-img">
                    </div>
                    <div class="grid-content p-2">
                        <a href="{{ url_for('static', filename='assets/images/gallery/technical/12.png') }}"
                            data-rel="lightcase"><i class="icofont-expand"></i></a>
                    </div>
                </div>
            </div>
            <div class="grid-item technical">
                <div class="grid-inner">
                    <div class="grid-thumb">
                        <img src="{{ url_for('static', filename='assets/images/gallery/technical/13.png') }}"
                            alt="gallery-img">
                    </div>
                    <div class="grid-content p-2">
                        <a href="{{ url_for('static', filename='assets/images/gallery/technical/13.png') }}"
                            data-rel="lightcase"><i class="icofont-expand"></i></a>
                    </div>
                </div>
            </div>
            <div class="grid-item technical">
                <div class="grid-inner">
                    <div class="grid-thumb">
                        <img src="{{ url_for('static', filename='assets/images/gallery/technical/14.png') }}"
                            alt="gallery-img">
                    </div>
                    <div class="grid-content p-2">
                        <a href="{{ url_for('static', filename='assets/images/gallery/technical/14.png') }}"
                            data-rel="lightcase"><i class="icofont-expand"></i></a>
                    </div>
                </div>
            </div>
            <div class="grid-item technical">
                <div class="grid-inner">
                    <div class="grid-thumb">
                        <img src="{{ url_for('static', filename='assets/images/gallery/technical/15.png') }}"
                            alt="gallery-img">
                    </div>
                    <div class="grid-content p-2">
                        <a href="{{ url_for('static', filename='assets/images/gallery/technical/15.png') }}"
                            data-rel="lightcase"><i class="icofont-expand"></i></a>
                    </div>
                </div>
            </div>
            <div class="grid-item technical">
                <div class="grid-inner">
                    <div class="grid-thumb">
                        <img src="{{ url_for('static', filename='assets/images/gallery/technical/16.png') }}"
                            alt="gallery-img">
                    </div>
                    <div class="grid-content p-2">
                        <a href="{{ url_for('static', filename='assets/images/gallery/technical/16.png') }}"
                            data-rel="lightcase"><i class="icofont-expand"></i></a>
                    </div>
                </div>
            </div>
            <div class="grid-item technical">
                <div class="grid-inner">
                    <div class="grid-thumb">
                        <img src="{{ url_for('static', filename='assets/images/gallery/technical/17.png') }}"
                            alt="gallery-img">
                    </div>
                    <div class="grid-content p-2">
                        <a href="{{ url_for('static', filename='assets/images/gallery/technical/17.png') }}"
                            data-rel="lightcase"><i class="icofont-expand"></i></a>
                    </div>
                </div>
            </div>
            <div class="grid-item technical">
                <div class="grid-inner">
                    <div class="grid-thumb">
                        <img src="{{ url_for('static', filename='assets/images/gallery/technical/18.png') }}"
                            alt="gallery-img">
                    </div>
                    <div class="grid-content p-2">
                        <a href="{{ url_for('static', filename='assets/images/gallery/technical/18.png') }}"
                            data-rel="lightcase"><i class="icofont-expand"></i></a>
                    </div>
                </div>
            </div>
            <div class="grid-item technical">
                <div class="grid-inner">
                    <div class="grid-thumb">
                        <img src="{{ url_for('static', filename='assets/images/gallery/technical/19.png') }}"
                            alt="gallery-img">
                    </div>
                    <div class="grid-content p-2">
                        <a href="{{ url_for('static', filename='assets/images/gallery/technical/19.png') }}"
                            data-rel="lightcase"><i class="icofont-expand"></i></a>
                    </div>
                </div>
            </div>
            <div class="grid-item technical">
                <div class="grid-inner">
                    <div class="grid-thumb">
                        <img src="{{ url_for('static', filename='assets/images/gallery/technical/20.png') }}"
                            alt="gallery-img">
                    </div>
                    <div class="grid-content p-2">
                        <a href="{{ url_for('static', filename='assets/images/gallery/technical/20.png') }}"
                            data-rel="lightcase"><i class="icofont-expand"></i></a>
                    </div>
                </div>
            </div>
            <div class="grid-item technical">
                <div class="grid-inner">
                    <div class="grid-thumb">
                        <img src="{{ url_for('static', filename='assets/images/gallery/technical/21.png') }}"
                            alt="gallery-img">
                    </div>
                    <div class="grid-content p-2">
                        <a href="{{ url_for('static', filename='assets/images/gallery/technical/21.png') }}"
                            data-rel="lightcase"><i class="icofont-expand"></i></a>
                    </div>
                </div>
            </div>
            <div class="grid-item technical">
                <div class="grid-inner">
                    <div class="grid-thumb">
                        <img src="{{ url_for('static', filename='assets/images/gallery/technical/22.png') }}"
                            alt="gallery-img">
                    </div>
                    <div class="grid-content p-2">
                        <a href="{{ url_for('static', filename='assets/images/gallery/technical/22.png') }}"
                            data-rel="lightcase"><i class="icofont-expand"></i></a>
                    </div>
                </div>
            </div>
            <div class="grid-item technical">
                <div class="grid-inner">
                    <div class="grid-thumb">
                        <img src="{{ url_for('static', filename='assets/images/gallery/technical/23.png') }}"
                            alt="gallery-img">
                    </div>
                    <div class="grid-content p-2">
                        <a href="{{ url_for('static', filename='assets/images/gallery/technical/23.png') }}"
                            data-rel="lightcase"><i class="icofont-expand"></i></a>
                    </div>
                </div>
            </div>
            <div class="grid-item technical">
                <div class="grid-inner">
                    <div class="grid-thumb">
                        <img src="{{ url_for('static', filename='assets/images/gallery/technical/24.png') }}"
                            alt="gallery-img">
                    </div>
                    <div class="grid-content p-2">
                        <a href="{{ url_for('static', filename='assets/images/gallery/technical/24.png') }}"
                            data-rel="lightcase"><i class="icofont-expand"></i></a>
                    </div>
                </div>
            </div>
            <!-- Technical End -->

            <!-- Managerial Starts -->
            <div class="grid-item managerial">
                <div class="grid-inner">
                    <div class="grid-thumb">
                        <img src="{{ url_for('static', filename='assets/images/gallery/managerial/1.png') }}"
                            alt="gallery-img">
                    </div>
                    <div class="grid-content">
                        <a href="{{ url_for('static', filename='assets/images/gallery/managerial/1.png') }}"
                            data-rel="lightcase"><i class="icofont-expand"></i></a>
                    </div>
                </div>
            </div>
            <!-- Managerial End -->

            <!-- Cultural Start -->
            <div class="grid-item cultural">
                <div class="grid-inner">
                    <div class="grid-thumb">
                        <img src="{{ url_for('static', filename='assets/images/gallery/cultural/1.png') }}"
                            alt="gallery-img">
                    </div>
                    <div class="grid-content">
                        <a href="{{ url_for('static', filename='assets/images/gallery/cultural/1.png') }}"
                            data-rel="lightcase"><i class="icofont-expand"></i></a>
                    </div>
                </div>
            </div>
            <div class="grid-item cultural">
                <div class="grid-inner">
                    <div class="grid-thumb">
                        <img src="{{ url_for('static', filename='assets/images/gallery/cultural/2.png') }}"
                            alt="gallery-img">
                    </div>
                    <div class="grid-content">
                        <a href="{{ url_for('static', filename='assets/images/gallery/cultural/2.png') }}"
                            data-rel="lightcase"><i class="icofont-expand"></i></a>
                    </div>
                </div>
            </div>
            <div class="grid-item cultural">
                <div class="grid-inner">
                    <div class="grid-thumb">
                        <img src="{{ url_for('static', filename='assets/images/gallery/cultural/3.png') }}"
                            alt="gallery-img">
                    </div>
                    <div class="grid-content">
                        <a href="{{ url_for('static', filename='assets/images/gallery/cultural/3.png') }}"
                            data-rel="lightcase"><i class="icofont-expand"></i></a>
                    </div>
                </div>
            </div>
            <div class="grid-item cultural">
                <div class="grid-inner">
                    <div class="grid-thumb">
                        <img src="{{ url_for('static', filename='assets/images/gallery/cultural/4.png') }}"
                            alt="gallery-img">
                    </div>
                    <div class="grid-content">
                        <a href="{{ url_for('static', filename='assets/images/gallery/cultural/4.png') }}"
                            data-rel="lightcase"><i class="icofont-expand"></i></a>
                    </div>
                </div>
            </div>
            <div class="grid-item cultural">
                <div class="grid-inner">
                    <div class="grid-thumb">
                        <img src="{{ url_for('static', filename='assets/images/gallery/cultural/5.png') }}"
                            alt="gallery-img">
                    </div>
                    <div class="grid-content">
                        <a href="{{ url_for('static', filename='assets/images/gallery/cultural/5.png') }}"
                            data-rel="lightcase"><i class="icofont-expand"></i></a>
                    </div>
                </div>
            </div>
            <div class="grid-item cultural">
                <div class="grid-inner">
                    <div class="grid-thumb">
                        <img src="{{ url_for('static', filename='assets/images/gallery/cultural/6.png') }}"
                            alt="gallery-img">
                    </div>
                    <div class="grid-content">
                        <a href="{{ url_for('static', filename='assets/images/gallery/cultural/6.png') }}"
                            data-rel="lightcase"><i class="icofont-expand"></i></a>
                    </div>
                </div>
            </div>
            <!-- Cultural End -->

            <!-- Sports Starts -->
            <div class="grid-item sports">
                <div class="grid-inner">
                    <div class="grid-thumb">
                        <img src="{{ url_for('static', filename='assets/images/gallery/sports/1.png') }}"
                            alt="gallery-img">
                    </div>
                    <div class="grid-content">
                        <a href="{{ url_for('static', filename='assets/images/gallery/sports/1.png') }}"
                            data-rel="lightcase"><i class="icofont-expand"></i></a>
                    </div>
                </div>
            </div>
            <div class="grid-item sports">
                <div class="grid-inner">
                    <div class="grid-thumb">
                        <img src="{{ url_for('static', filename='assets/images/gallery/sports/2.png') }}"
                            alt="gallery-img">
                    </div>
                    <div class="grid-content">
                        <a href="{{ url_for('static', filename='assets/images/gallery/sports/2.png') }}"
                            data-rel="lightcase"><i class="icofont-expand"></i></a>
                    </div>
                </div>
            </div>
            <div class="grid-item sports">
                <div class="grid-inner">
                    <div class="grid-thumb">
                        <img src="{{ url_for('static', filename='assets/images/gallery/sports/3.png') }}"
                            alt="gallery-img">
                    </div>
                    <div class="grid-content">
                        <a href="{{ url_for('static', filename='assets/images/gallery/sports/3.png') }}"
                            data-rel="lightcase"><i class="icofont-expand"></i></a>
                    </div>
                </div>
            </div>
            <div class="grid-item sports">
                <div class="grid-inner">
                    <div class="grid-thumb">
                        <img src="{{ url_for('static', filename='assets/images/gallery/sports/4.png') }}"
                            alt="gallery-img">
                    </div>
                    <div class="grid-content">
                        <a href="{{ url_for('static', filename='assets/images/gallery/sports/4.png') }}"
                            data-rel="lightcase"><i class="icofont-expand"></i></a>
                    </div>
                </div>
            </div>
            <div class="grid-item sports">
                <div class="grid-inner">
                    <div class="grid-thumb">
                        <img src="{{ url_for('static', filename='assets/images/gallery/sports/5.png') }}"
                            alt="gallery-img">
                    </div>
                    <div class="grid-content">
                        <a href="{{ url_for('static', filename='assets/images/gallery/sports/5.png') }}"
                            data-rel="lightcase"><i class="icofont-expand"></i></a>
                    </div>
                </div>
            </div>
            <div class="grid-item sports">
                <div class="grid-inner">
                    <div class="grid-thumb">
                        <img src="{{ url_for('static', filename='assets/images/gallery/sports/6.png') }}"
                            alt="gallery-img">
                    </div>
                    <div class="grid-content">
                        <a href="{{ url_for('static', filename='assets/images/gallery/sports/6.png') }}"
                            data-rel="lightcase"><i class="icofont-expand"></i></a>
                    </div>
                </div>
            </div>
            <!-- Sports End -->
        </div>
    </div>
</div>
<!-- Gallary section end here-->

{% endblock content %}