{% extends 'base.html' %}

{% block content %}

<!-- Page Header Section Start Here -->
<section class="page-header padding-tb">
    <div class="overlay"></div>
    <div class="container">
        <div class="page-header-content-area">
            <h4 class="ph-title">Login</h4>
            <ul class="lab-ul">
                <li><a href="{{ url_for('main.home') }}">Home</a></li>
                <li><a class="active">login</a></li>
            </ul>
        </div>
    </div>
</section>
<!-- Page Header Section Ending Here -->

<!-- Login Section Section Starts Here -->
<div class="login-section padding-tb">
    <div class=" container">
        <div class="account-wrapper">
            <h3 class="title">Login</h3>
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for cat, msg in messages %}
            <div class="alert alert-{{ cat }}">
                {{ msg }}
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}

            <form class="account-form" method='post' action="{{ url_for('main.login') }}">
                <div class="form-group">
                    <input type="email" placeholder="Email" name="email">
                </div>
                <div class="form-group">
                    <input type="password" placeholder="Password" name="password">
                </div>
                <div class="form-group">
                    <div class="d-flex justify-content-between flex-wrap pt-sm-2">
                        <div class="checkgroup">
                            <input type="checkbox" name="remember" id="remember">
                            <label for="remember">Remember Me</label>
                        </div>
                        <a href="{{ url_for('main.reset_request') }}">Forget Password?</a>
                    </div>
                </div>
                <div class="form-group">
                    <button class="d-block lab-btn" type="submit"><span>Submit Now</span></button>
                </div>
            </form>
            <div class="account-bottom">
                <span class="d-block cate pt-10">Don’t Have any Account? <a href="{{ url_for('main.register') }}"> Sign
                        Up</a></span>
            </div>
        </div>
    </div>
</div>
<!-- Login Section Section Ends Here -->

{% endblock content %}
