{% extends 'base.html' %}

{% block content %}



<!-- Page Header Section Start Here -->
<section class="page-header padding-tb">
    <div class="overlay"></div>
    <div class="container">
        <div class="page-header-content-area">
            <h4 class="ph-title">Privacy Policy</h4>
        </div>
    </div>
</section>
<!-- Page Header Section Ending Here -->

<!-- Login Section Section Starts Here -->
<div class="login-section padding-tb">
    <div class=" container">
        <div class="account-wrapper">
            <h3 class="title">Privacy Policy</h3>
            <div class="form-group">
                <ul>
                    <li>PIEMR is declared that , We are not sharing any type of data of any student.</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Login Section Section Ends Here -->

{% endblock content %}