{% extends 'base.html' %}
{% block content %}

<!-- Page Header Section Start Here -->
<section class="page-header bg_img padding-tb">
    <div class="overlay"></div>
    <div class="container">
        <div class="page-header-content-area">
            <h4 class="ph-title">User Profile</h4>
        </div>
    </div>
</section>
<!-- Page Header Section Ending Here -->

<!-- Registration section start Here -->
<div class="login-section padding-tb">
    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for cat, msg in messages %}
        <div class="alert alert-{{ cat }}">
            {{ msg }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <div class="profile">
            <h3 class="title">{{ current_user.name }}</h3>
            <section class="speakers-section pt-5 shape-img">
                <div class="container">
                    <div class="section-wrapper">
                        <div class="row g-4 justify-content-center">
                            <div class="col-xl-6 col-lg-8 col-12">
                                <div class="speaker-item">
                                    <div class="speaker-inner">
                                        <div class="speaker-content">
                                            <div class="spkr-content-title d-flex flex-wrap justify-content-between">
                                                <div class="row">
                                                    <div class="speaker-infos left">
                                                        <h5>Email: </h5>
                                                        <h5>{{ current_user.email }}</h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-6 col-lg-8 col-12">
                                <div class="speaker-item">
                                    <div class="speaker-inner">
                                        <div class="speaker-content">
                                            <div class="spkr-content-title d-flex flex-wrap justify-content-between">
                                                <div class="row">
                                                    <div class="speaker-infos left">
                                                        <h5>Reward Points:</h5>
                                                        <h5>{{ current_user.reward_points }} </h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-6 col-lg-8 col-12">
                                <div class="speaker-item">
                                    <div class="speaker-inner">
                                        <div class="speaker-content">
                                            <div class="spkr-content-title d-flex flex-wrap justify-content-between">
                                                <div class="row">
                                                    <div class="speaker-infos left">
                                                        <h5>Phone:</h5>
                                                        <h5>+91 {{ current_user.mobile_number }} </h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-6 col-lg-8 col-12">
                                <div class="speaker-item">
                                    <div class="speaker-inner">
                                        <div class="speaker-content">
                                            <div class="spkr-content-title d-flex flex-wrap justify-content-between">
                                                <div class="row">
                                                    <div class="speaker-infos left">
                                                        <h5>Total Amount:</h5>
                                                        <h5>₹ {{ total_amount }}</h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </section>

            <div class="shop-cart padding-tb">
                <div class="container">
                    <div class="section-wrapper">
                        <div class="cart-top">
                            {% if events[0] %}
                            <table>
                                <thead>
                                    <tr>
                                        <th>Event Type</th>
                                        <th>Event Name</th>
                                        <th>Name of Participants</th>
                                        <th>Fees</th>
                                        <th>Date</th>
                                        <th>Status</th>
                                        <th>Venue</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for event in events %}
                                    <tr>
                                        <td class="product-item">
                                            <div class="p-content" style="font-weight: bolder;">
                                                {{ event.event_type | title }}
                                            </div>
                                        </td>
                                        <td>{{ event.event_name | title }}</td>
                                        <td>{{ event.team_members | title }}</td>
                                        <td>{{ event.fees }}</td>
                                        <td>{{ event.date.date() }}</td>
                                        {% if event.paid %}
                                        <td>Approved</td>
                                        {% else %}
                                        <td>Processing</td>
                                        {% endif %}
                                        <td>{{ event.venue | title }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {% else %}

                            <div style="display: flex; align-items: center; justify-content: center;">
                                <button class="d-block lab-btn"><a href="/#events_list"
                                        style="color: white;">Participate Now</a></button>
                            </div>


                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Registration section end Here -->

{% endblock content %}