{% extends 'base.html' %}
{% block content %}

<!-- Page Header Section Start Here -->
<section class="page-header padding-tb">
    <div class="overlay"></div>
    <div class="container">
        <div class="page-header-content-area">
            <h4 class="ph-title">Refund Policy</h4>

        </div>
    </div>
</section>
<!-- Page Header Section Ending Here -->

<!-- Login Section Section Starts Here -->
<div class="login-section padding-tb">
    <div class=" container">
        <div class="account-wrapper">
            <h3 class="title">Refund Policy</h3>
            <form class="account-form">
                <div class="form-group">
                    <ul>
                        <li>There will be no refund Policy are there after your every successful transactions.</li>
                    </ul>
                </div>

            </form>
        </div>
    </div>
</div>
<!-- Login Section Section Ends Here -->

{% endblock content%}