{% extends 'base.html' %}
{% block content %}


<!-- Page Header Section Start Here -->
<section class="page-header bg_img padding-tb">
    <div class="overlay"></div>
    <div class="container">
        <div class="page-header-content-area">
            <h4 class="ph-title">Registration</h4>
            <ul class="lab-ul">
                <li><a href="{{ url_for('main.home') }}">Home</a></li>
                <li><a class="active">Registration</a></li>
            </ul>
        </div>
    </div>
</section>
<!-- Page Header Section Ending Here -->

<!-- Registration section start Here -->
<div class="login-section padding-tb">
    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for cat, msg in messages %}
        <div class="alert alert-{{ cat }}">
            {{ msg }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <div class="account-wrapper">
            <h3 class="title">Register Now</h3>
            <label for=""><span style="color: red;">** &nbsp;</span>PIEMR student should register with their domain
                email-id(@piemr.edu.in)</label>
            <form class="account-form" method="post" action="{{ url_for('main.register') }}">
                <div class="form-group">
                    <input type="text" placeholder="Name" name="name" required>
                </div>
                <div class="form-group">
                    <input type="text" placeholder="Enrollment Number" name="enrollment_number" required>
                </div>
                <div class="form-group">
                    <div class="d-flex justify-content-between flex-wrap pt-sm-2">
                        <div class="checkgroup">
                            <input type="checkbox" id="remember" name="remember" onclick="myFunction()">
                            <label for="remember">Outside PIEMR</label>
                        </div>
                    </div>
                </div>
                <div class="form-group" id="text" style="display:none">
                    <input type="text" placeholder="Your Institution Name"
                        value="Prestige Institute of Engineering Management & Research, Indore" name="college" id="college_name" required>
                </div>
                <script>
                    function myFunction() {
                        var checkBox = document.getElementById("remember");
                        var text = document.getElementById("text");
                        var college_name = document.getElementById("college_name");
                        if (checkBox.checked == true) {
                            text.style.display = "block";
                            college_name.setAttribute("value", "");
                        } else {
                            text.style.display = "none";
                            college_name.setAttribute("value", "Prestige Institute of Engineering Management & Research, Indore");
                        }
                    }
                </script>
                <div class="form-group">
                    <input type="text" placeholder="Email" name="email" required>
                </div>
                <div class="form-group">
                    <input type="text" placeholder="Mobile Number" name="mobile_number" required>
                </div>
                <div class="form-group">
                    <input type="password" placeholder="Password" name="password" required>
                </div>
                <div class="form-group">
                    <input type="password" placeholder="Confirm Password" name="cpassword" class="relative" required>
                </div>
                <div class="form-group">
                    <select class="from-select" name="dept_name">
                        <option value="0" disabled selected>Department</option>
                        <option value="Artificial Intelligence & Data Science" name="dept_name">Artificial Intelligence
                            & Data Science</option>
                        <option value="Automation and Robotics" name="dept_name">Automation and Robotics</option>
                        <option value="Bachelor of Commerce" name="dept_name">Bachelor of Commerce</option>
                        <option value="Bachelor of Computer Applications" name="dept_name">Bachelor of Computer
                            Applications
                        </option>
                        <option value="Bachelor of Sciences" name="dept_name">Bachelor of Sciences</option>
                        <option value="Civil Engineering" name="dept_name">Civil Engineering</option>
                        <option value="Computer Science Engineering" name="dept_name">Computer Science Engineering
                        </option>
                        <option value="Department of Applied Science & Humanities" name="dept_name">Department of
                            Applied Science & Humanities</option>
                        <option value="Diploma In Vocation" name="dept_name">Diploma In Vocation</option>
                        <option value="Electrical Engineering" name="dept_name">Electrical Engineering</option>
                        <option value="Electronics & Communication Engineering" name="dept_name">Electronics &
                            Communication Engineering</option>
                        <option value="Law" name="dept_name">Law</option>
                        <option value="Master of Business Administration" name="dept_name">Master of Business
                            Administration</option>
                        <option value="Master of Computer Applications" name="dept_name">Master of Computer Applications
                        </option>
                        <option value="Master of Philosophy" name="dept_name">Master of Philosophy</option>
                        <option value="Master of Sciences" name="dept_name">Master of Sciences</option>
                        <option value="Mechanical Engineering" name="dept_name">Mechanical Engineering</option>
                        <option value="PGDM" name="dept_name">PGDM</option>
                        <option value="Other" name="dept_name">Other</option>
                    </select>
                </div>
                <div class="form-group">
                    <button class="d-block lab-btn"><span>Get Started Now</span></button>
                </div>
            </form>
            <div class="account-bottom">
                <span class="d-block cate pt-10">Are you a member? <a
                        href="{{ url_for('main.login') }}">Login</a></span>
            </div>
        </div>
    </div>
</div>
<!-- Registration section end Here -->
{% endblock content %}
