{% extends 'base.html' %}
{% block content %}

<!-- Page Header Section Start Here -->
<section class="page-header padding-tb">
    <div class="overlay"></div>
    <div class="container">
        <div class="page-header-content-area">
            <h4 class="ph-title">New Password Page</h4>
        </div>
    </div>
</section>
<!-- Page Header Section Ending Here -->

<!-- Login Section Starts Here -->
<div class="login-section padding-tb">
    <div class=" container">
        <div class="account-wrapper">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for cat, msg in messages %}
            <div class="alert alert-{{ cat }} alert-dismissible">
                {{ msg }}
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}

            <form class="account-form" method='post'>
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {% if form.password.errors %}
                    {{ form.password(class="form-control form-control-user is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.password.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.password(class="form-control form-control-user", id="password", placeholder="Password") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {% if form.confirm_password.errors %}
                    {{ form.confirm_password(class="form-control form-control-user is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.confirm_password.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.confirm_password(class="form-control form-control-user", id="confirm_password",
                    placeholder="Repeat Password") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    <button class="d-block lab-btn"><span>Get New Password</span></button>
                </div>
                <hr>
            </form>
        </div>
    </div>
</div>
<!-- Login Section Ends Here -->
{% endblock content %}